<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Muli:300,400" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">

    </div>

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/arris.jpg}" alt="Image"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/decoupe}">Decoupe sur mesure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/meuble}">Meuble sur mesure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact.html}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}" sec:authorize="isAuthenticated()"
                    > Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()"
                    >Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()"
                    >Connexion</a>
                </li>
            </ul>

        </div>
    </nav>
</div>

</body>
</html>