<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<h1>Hello, world!</h1>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
    $(function (){
        $("#startChatbutton").on("click",function (evt){
            $("#startChatbutton").hide();
            $("#chatFrame").show();
            $("#sendChatbutton").show();
        })
    });



</script>


<iframe id="chatFrame" style="width: 350px;
height: 480px;
display: none;
border: solid 1px ;
position: fixed;
bottom: 10px;
right: 10px;
padding: 10px;
" th:src="@{/chatbot/fenetre}"></iframe>


<div style="position: fixed;
bottom: 10px;
right: 10px;">
    <button id="startChatbutton" class="btn btn-primary">Parlez moi</button>

</div>



</body>
</html>

<script>
    function closeIframe() {
        var frame = window.parent.document.getElementById('chatFrame');
        var closeframe=frame.parentNode.removeChild(window.parent.document.getElementById('chatFrame'));
        if(closeframe){
            parent.location.reload();
        }
    }
</script>