table, th, td {
    padding: 5px;
}
table {

    border-spacing: 15px;
}

button{
    border: 0;
    background: none;
    margin: 1px auto;
    border: 2px solid #2c8d3a;
    padding: 14px 20px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.45s;
    cursor: pointer;
}

button:hover{
    background: #2c8d3a;
}